{% extends 'todo/base.html' %} {% load static %}
{% block content %}

<h2>Hi {{user.username}}, this is your To-Do List</h2>

<a href="{% url 'todo_create' %}">Add a new item</a>

<table>
  <tr>
    <th>Task</th>
    <th></th>
  </tr>
  {% for todo in todos %}
    <tr>
      <td>{{ todo.title }}</td>
      <td> <a href="{% url 'todo_detail' todo.id %}">  View Item </a></td>
      <td> <a href="{% url 'todo_update' todo.id %}">  Update Item </a></td>
      <td> <a href="{% url 'todo_delete' todo.id %}">  Delete Item </a></td>
    </tr>
  {% empty %}
    <h4>No items in your To-Do List</h4>
  {% endfor %}
</table>




{% endblock content %}
