body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    background-color: white;
}

a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:hover {
    color: green;
}

#delete-item:hover {
    color: red;
}

#update-item:hover {
    color: orange;
}
